*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-Contents {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.auth-buttons{
    display: flex;
    margin-left: 30px;
    background-color: white;
}